.scanning {
  font-size: 2em;
  text-align: center;
  width: 100%;
  height: 4em;
}

.scanning::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0%;
  background-image: linear-gradient(
    to bottom,
    rgba(170, 184, 190, 0),
    rgba(170, 184, 190, 0.8)
  );
  animation: scanning 0.8s linear infinite;
}

@keyframes scanning {
  0% {
    transform: translate(0%, 0em);
  }
  100% {
    transform: translate(0%, 3em);
  }
}

.appContainer {
  padding-top: 3em;
  width: 100vw;
  height: 100vh;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  right: 1em;
  bottom: 0.5em;
  font-size: 0.8em;
  font-style: italic;
  color: rgb(200, 200, 200);
  position: fixed;
}

.peopleScannedOpen {
  position: fixed;
  border-radius: 0px 10px 0px 0px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  padding: 1em 2em 1em 2em;
  /* margin: 1em; */
}
