body {
  /* based off https://www.dur.ac.uk/brand/local/fonts/ */
  font-family: "Gotham", "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;

  margin: 0 auto;
  padding: 0;

  /* Based off https://www.dur.ac.uk/brand/local/colourpalette/  */
  background-color: rgb(104, 36, 109);
  color: white;
}

* {
  box-sizing: border-box;
}
